.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px, 5px, 5px, grey;
}
.note{
    font-size: 15px;
    color: black;
}
.footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: lightsalmon;
    line-height: 3;
    text-align: center;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;


}
video{

    border: 6px solid red;
    border-radius: 20px;
}